<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meteor.jsherp.mapper.DepotHeadMapper">

    <resultMap id="BaseResultMap" type="com.meteor.jsherp.domain.DepotHead">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="subType" column="sub_type" jdbcType="VARCHAR"/>
            <result property="defaultNumber" column="default_number" jdbcType="VARCHAR"/>
            <result property="number" column="number" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="operTime" column="oper_time" jdbcType="TIMESTAMP"/>
            <result property="organId" column="organ_id" jdbcType="BIGINT"/>
            <result property="creator" column="creator" jdbcType="BIGINT"/>
            <result property="accountId" column="account_id" jdbcType="BIGINT"/>
            <result property="changeAmount" column="change_amount" jdbcType="DECIMAL"/>
            <result property="backAmount" column="back_amount" jdbcType="DECIMAL"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="payType" column="pay_type" jdbcType="VARCHAR"/>
            <result property="billType" column="bill_type" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="salesMan" column="sales_man" jdbcType="VARCHAR"/>
            <result property="accountIdList" column="account_id_list" jdbcType="VARCHAR"/>
            <result property="accountMoneyList" column="account_money_list" jdbcType="VARCHAR"/>
            <result property="discount" column="discount" jdbcType="DECIMAL"/>
            <result property="discountMoney" column="discount_money" jdbcType="DECIMAL"/>
            <result property="discountLastMoney" column="discount_last_money" jdbcType="DECIMAL"/>
            <result property="otherMoney" column="other_money" jdbcType="DECIMAL"/>
            <result property="deposit" column="deposit" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="purchaseStatus" column="purchase_status" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="linkNumber" column="link_number" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,sub_type,
        default_number,number,create_time,
        oper_time,organ_id,creator,
        account_id,change_amount,back_amount,
        total_price,pay_type,bill_type,
        remark,file_name,sales_man,
        account_id_list,account_money_list,discount,
        discount_money,discount_last_money,other_money,
        deposit,status,purchase_status,
        source,link_number,tenant_id,
        delete_flag
    </sql>

<!--    getAnySaleStatistics(type, subType, hasSupplier, startTime, endTime, userIds, approval);-->
    <select id="getAnySaleStatistics" resultType="java.math.BigDecimal">
        select sum(discount_last_money) from jsh_depot_head
            where 1=1 
        <if test="type != '' and type != null">
            and type = #{type}
        </if>
        <if test="subType != '' and subType != null">
            and sub_type = #{subType}
        </if>
        <if test="hasSupplier == 1">
            and organ_id is not null
        </if>
        <if test="startTime != '' and startTime != null">
            and  oper_time >= #{startTime}
        </if>
        <if test="endTime != '' and endTime != null">
            and oper_time &lt;=  #{endTime}
        </if>
        <if test="approval == '1'">
            and  status = 1
        </if>
        <if test="userIds.length > 0">
            and creator in
            <foreach collection="userIds" item="userId" separator="," open="(" close=")">
                #{userId}
            </foreach>
        </if>

    </select>

    <!--    getAnySaleStatistics(type, subType, hasSupplier, startTime, endTime, userIds, approval);-->
    <select id="getRetailSaleStatistics" resultType="java.math.BigDecimal">
        select abs(sum(dh.total_price)) from jsh_depot_head dh
        right join jsh_depot_item di on dh.id = di.header_id
        where 1=1
        <if test="type != '' and type != null">
            and dh.type = #{type}
        </if>
        <if test="subType != '' and subType != null">
            and dh.sub_type = #{subType}
        </if>
        <if test="hasSupplier == 1">
            and dh.organ_id is not null
        </if>
        <if test="startTime != '' and startTime != null">
            and  dh.oper_time >= #{startTime}
        </if>
        <if test="endTime != '' and endTime != null">
            and dh.oper_time &lt;=  #{endTime}
        </if>
        <if test="approval == '1'">
            and dh.status = 1
        </if>
        <if test="userIds.length > 0">
            and dh.creator in
            <foreach collection="userIds" item="userId" separator="," open="(" close=")">
                #{userId}
            </foreach>
        </if>

    </select>

</mapper>

