<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meteor.jsherp.mapper.DepotHeadMapper">

    <resultMap id="BaseResultMap" type="com.meteor.jsherp.domain.DepotHead">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="subType" column="sub_type" jdbcType="VARCHAR"/>
            <result property="defaultNumber" column="default_number" jdbcType="VARCHAR"/>
            <result property="number" column="number" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="operTime" column="oper_time" jdbcType="TIMESTAMP"/>
            <result property="organId" column="organ_id" jdbcType="BIGINT"/>
            <result property="creator" column="creator" jdbcType="BIGINT"/>
            <result property="accountId" column="account_id" jdbcType="BIGINT"/>
            <result property="changeAmount" column="change_amount" jdbcType="DECIMAL"/>
            <result property="backAmount" column="back_amount" jdbcType="DECIMAL"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="payType" column="pay_type" jdbcType="VARCHAR"/>
            <result property="billType" column="bill_type" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="salesMan" column="sales_man" jdbcType="VARCHAR"/>
            <result property="accountIdList" column="account_id_list" jdbcType="VARCHAR"/>
            <result property="accountMoneyList" column="account_money_list" jdbcType="VARCHAR"/>
            <result property="discount" column="discount" jdbcType="DECIMAL"/>
            <result property="discountMoney" column="discount_money" jdbcType="DECIMAL"/>
            <result property="discountLastMoney" column="discount_last_money" jdbcType="DECIMAL"/>
            <result property="otherMoney" column="other_money" jdbcType="DECIMAL"/>
            <result property="deposit" column="deposit" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="purchaseStatus" column="purchase_status" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="linkNumber" column="link_number" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,sub_type,
        default_number,number,create_time,
        oper_time,organ_id,creator,
        account_id,change_amount,back_amount,
        total_price,pay_type,bill_type,
        remark,file_name,sales_man,
        account_id_list,account_money_list,discount,
        discount_money,discount_last_money,other_money,
        deposit,status,purchase_status,
        source,link_number,tenant_id,
        delete_flag
    </sql>

<!--    getAnySaleStatistics(type, subType, hasSupplier, startTime, endTime, userIds, approval);-->
    <select id="getAnySaleStatistics" resultType="java.math.BigDecimal">
        select sum(discount_last_money) from
        (select distinct dh.id, dh.discount_last_money from jsh_depot_head dh
        right join jsh_depot_item di on di.header_id = dh.id and di.delete_flag = '0'
            where 1=1 
        <if test="type != '' and type != null">
            and dh.type = #{type}
        </if>
        <if test="subType != '' and subType != null">
            and dh.sub_type = #{subType}
        </if>
        <if test="hasSupplier == 1">
            and dh.organ_id is not null
        </if>
        <if test="startTime != '' and startTime != null">
            and  dh.oper_time >= #{startTime}
        </if>
        <if test="endTime != '' and endTime != null">
            and dh.oper_time &lt;=  #{endTime}
        </if>
        <if test="approval == '1'">
            and  dh.status = 1
        </if>
        <if test="userIds!= null">
            and dh.creator in
            <foreach collection="userIds" item="userId" separator="," open="(" close=")">
                #{userId}
            </foreach>
        </if>
        and dh.delete_flag = '0') temp
    </select>

    <!--    getAnySaleStatistics(type, subType, hasSupplier, startTime, endTime, userIds, approval);-->
    <select id="getRetailSaleStatistics" resultType="java.math.BigDecimal">

        select abs(ifnull(sum(total_price), 0)) from
        (select distinct dh.id, dh.total_price from jsh_depot_head dh
        right join jsh_depot_item di on dh.id = di.header_id and di.delete_flag = '0'
        where 1=1
        <if test="type != '' and type != null">
            and dh.type = #{type}
        </if>
        <if test="subType != '' and subType != null">
            and dh.sub_type = #{subType}
        </if>
        <if test="hasSupplier == 1">
            and dh.organ_id is not null
        </if>
        <if test="startTime != '' and startTime != null">
            and  dh.oper_time >= #{startTime}
        </if>
        <if test="endTime != '' and endTime != null">
            and dh.oper_time &lt;=  #{endTime}
        </if>
        <if test="approval == '1'">
            and dh.status = 1
        </if>
        <if test="userIds != null">
            and dh.creator in
            <foreach collection="userIds" item="userId" separator="," open="(" close=")">
                #{userId}
            </foreach>
        </if>
        and dh.delete_flag = '0') temp
    </select>

    <!--    getAnySaleStatistics(type, subType, hasSupplier, startTime, endTime, userIds, approval);-->
    <select id="test" resultType="DepotHead">

        select dh.* from jsh_depot_head dh
        right join jsh_depot_item di on dh.id = di.header_id and di.delete_flag = '0'
        where 1=1
        <if test="type != '' and type != null">
            and dh.type = #{type}
        </if>
        <if test="subType != '' and subType != null">
            and dh.sub_type = #{subType}
        </if>
        <if test="hasSupplier == 1">
            and dh.organ_id is not null
        </if>
        <if test="startTime != '' and startTime != null">
            and  dh.oper_time >= #{startTime}
        </if>
        <if test="endTime != '' and endTime != null">
            and dh.oper_time &lt;=  #{endTime}
        </if>
        <if test="approval == '1'">
            and dh.status = 1
        </if>
        <if test="userIds != null">
            and dh.creator in
            <foreach collection="userIds" item="userId" separator="," open="(" close=")">
                #{userId}
            </foreach>
        </if>
        and dh.delete_flag = '0'
    </select>

<!--    List<DepotHeadEx> getDepotHeadBoList(String type, String subType, long[] userIdList, String hasDebt, String[] statusArray, String[] purchaseStatusArray, String number, String linkNumber, String beginTime, String endTime, String materialParam, Long organId, List<Organization> organArray, Long creator, Long depotId, List<Long> depotArray, Long accountId, String remark, int start, Integer pageSize);-->
    <select id="getDepotHeadBoList" resultType="com.meteor.jsherp.domain.extand.DepotHeadEx">
        select distinct dh.*, s.supplier organName, u.username userName, a.name accountName
            from jsh_depot_head dh
            left join jsh_depot_item di on dh.id = di.header_id and di.delete_flag = '0'
            left join jsh_supplier s on dh.organ_id = s.id and s.delete_flag = '0'
            left join jsh_user u on dh.creator = u.id
            left join jsh_account a on dh.account_id = a.id and a.delete_flag = '0'
            left join jsh_material m on di.material_id = m.id and m.delete_flag = '0'
            left join jsh_material_extend me on di.material_extend_id = me.id and m.delete_flag = '0'
        where 1=1
        <if test=" type!=null">
            and dh.type = #{type}
        </if>
        <if test="subType!=null">
            and dh.sub_type = #{subType}
        </if>
        <if test="userIdList!=null">
            and dh.creator in
            <foreach collection="userIdList" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </if>
        <if test="creator!=null">
            and dh.creator=#{creator}
        </if>
        <if test="hasDebt=='0'">
            and dh.last_money+dh.other_money-dh.deposit-abs(dh.change_amount)=0
        </if>
        <if test="hasDebt=='1'">
            and dh.last_money+dh.other_money-dh.deposit-abs(dh.change_amount)>0
        </if>
        <if test="statusArray!=null">
            and dh.status in
            <foreach collection="statusArray" item="status" separator="," close=")" open="(">
                #{status}
            </foreach>
        </if>
        <if test="purchaseStatusArray!=null">
            and dh.purchase_status in
            <foreach collection="purchaseStatusArray" item="purchase" separator="," close=")" open="(">
                #{purchase}
            </foreach>
        </if>
        <if test="number!=null and number != ''">
            and dh.number like '%${number}%'
        </if>
        <if test="linkNumber!=null and linkNumber != ''">
            and dh.link_number like '%${linkNumber}%'
        </if>
        <if test="beginTime!=null">
            and dh.oper_time>=#{beginTime}
        </if>
        <if test="endTime!=null">
            and dh.oper_time &lt; #{endTime}
        </if>
        <if test="materialParam!=null and materialParam != ''">
            <bind name="param" value="%${materialParam}%"/>
            and (me.bar_code like #{param} or m.naem like #{param} or m.standard like #{param} or m.color like #{param} or
                  m.mfrs like #{param} or m.otherField1 like #{param} or m.otherField2 like #{param} or m.otherField3 like #{param})
        </if>
        <if test="organId!=null">
            and dh.organ_id = #{organId}
        </if>

        <if test="organArray!=null">
            and dh.organ_id in
            <foreach collection="organArray" open="(" close=")" separator="," item="organ">
                #{organ}
            </foreach>
        </if>

        <if test="depotId!=null">
            and di.depot_id = #{depotId}
        </if>

        <if test="depotArray!=null">
            and di.depot_id in
            <foreach collection="depotArray" open="(" close=")" separator="," item="depot">
                #{depot}
            </foreach>
        </if>

        <if test="accountId!=null">
            and dh.account_id = #{accountId} and dh.account_id_list like '%${accountId}%'
        </if>
        <if test="remark!=null and remark !=''">
            and dh.remark like '%${remark}%' and di.remark like '%${remark}%'
        </if>
        and dh.delete_flag = '0'
        <if test="start!=null and pageSize!=null">
            limit #{start} , #{pageSize}
        </if>
    </select>

<!--    BigDecimal getDepositByLinkNumberAndNumber(String linkNumber, String number);-->
    <select id="getDepositByLinkNumberAndNumber" resultType="java.math.BigDecimal">
        select ifnull(sum(deposit), 0)
            from jsh_depot_head
            where delete_flag = '0'
        <if test="number != null and number!=''">
            and number = #{number}
        </if>
        <if test="linkNumber != null and linkNumber!=''">
            and link_number = #{linkNumber}
        </if>

    </select>

<!--    List<DepotHeadEx> getDepotHeadDetailByNumber(String number);-->
    <select id="getDepotHeadDetailByNumber" resultType="DepotHeadEx">
        select dh.*, concat(dh.type, dh.sub_type) as depotHeadType,a.name acconutName,
            s.supplier organName, s.contacts, s.telephone, s.address
            from jsh_depot_head dh
            left join jsh_account a on dh.account_id = a.id and a.delete_flag = '0'
            left join jsh_supplier s on dh.organ_id = s.id and s.delete_flag = '0'
            where dh.delete_flag = '0'
            <if test="number != null">
                and dh.number = #{number}
            </if>
    </select>

</mapper>

