<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meteor.jsherp.mapper.DepotItemMapper">

    <resultMap id="BaseResultMap" type="com.meteor.jsherp.domain.DepotItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="headerId" column="header_id" jdbcType="BIGINT"/>
            <result property="materialId" column="material_id" jdbcType="BIGINT"/>
            <result property="materialExtendId" column="material_extend_id" jdbcType="BIGINT"/>
            <result property="materialUnit" column="material_unit" jdbcType="VARCHAR"/>
            <result property="sku" column="sku" jdbcType="VARCHAR"/>
            <result property="operNumber" column="oper_number" jdbcType="DECIMAL"/>
            <result property="basicNumber" column="basic_number" jdbcType="DECIMAL"/>
            <result property="unitPrice" column="unit_price" jdbcType="DECIMAL"/>
            <result property="purchaseUnitPrice" column="purchase_unit_price" jdbcType="DECIMAL"/>
            <result property="taxUnitPrice" column="tax_unit_price" jdbcType="DECIMAL"/>
            <result property="allPrice" column="all_price" jdbcType="DECIMAL"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="depotId" column="depot_id" jdbcType="BIGINT"/>
            <result property="anotherDepotId" column="another_depot_id" jdbcType="BIGINT"/>
            <result property="taxRate" column="tax_rate" jdbcType="DECIMAL"/>
            <result property="taxMoney" column="tax_money" jdbcType="DECIMAL"/>
            <result property="taxLastMoney" column="tax_last_money" jdbcType="DECIMAL"/>
            <result property="materialType" column="material_type" jdbcType="VARCHAR"/>
            <result property="snList" column="sn_list" jdbcType="VARCHAR"/>
            <result property="batchNumber" column="batch_number" jdbcType="VARCHAR"/>
            <result property="expirationDate" column="expiration_date" jdbcType="TIMESTAMP"/>
            <result property="linkId" column="link_id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,header_id,material_id,
        material_extend_id,material_unit,sku,
        oper_number,basic_number,unit_price,
        purchase_unit_price,tax_unit_price,all_price,
        remark,depot_id,another_depot_id,
        tax_rate,tax_money,tax_last_money,
        material_type,sn_list,batch_number,
        expiration_date,link_id,tenant_id,
        delete_flag
    </sql>

<!--    BigDecimal getStockCheckSumByDepotList(List<Long> depotIdList, Long id, String stockApprovalFlag, String beginTime, String endTime);-->
    <select id="getStockCheckSumByDepotList" resultType="java.math.BigDecimal">
        select ifnull(sum(di.basic_number), 0)
        from jsh_depot_item di
        left join jsh_depot_head dh on di.header_id = dh.id and dh.delete_flag = '0'
        where dh.sub_type = '盘点复盘' and di.delete_flag = '0'
        <if test="id != null">
            and di.material_id = #{id}
        </if>
        <if test="depotIdList.size()>0">
            and di.depot_id in
            <foreach collection="depotIdList" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test='"1".equals(stockApprovalFlag)'>
            and dh.status = '1'
        </if>
        <if test="beginTime != null">
            and dh.oper_time &gt;= #{beginTime}
        </if>
        <if test="endTime != null">
            and dh.oper_time &lt;= #{endTime}
        </if>
    </select>

    <sql id="depotParam">
        <if test="depotIdList.size()>0">
            and di.depot_id in <foreach collection="depotIdList" item="item" index="index" separator="," open="(" close=")">#{item}</foreach>
        </if>
    </sql>
    <sql id="anotherDepotParam">
        <if test="depotIdList.size()>0">
            and di.another_depot_id in <foreach collection="depotIdList" item="item" index="index" separator="," open="(" close=")">#{item}</foreach>
        </if>
    </sql>
<!--    DepotItemExStock getStockByParamWithDepotList(List<Long> depotIdList, Long mid, String stockApprovalFlag, String beginTime, String endTime);-->
    <select id="getStockByParamWithDepotList" resultType="com.meteor.jsherp.domain.extand.DepotItemExStock">
        select
        sum(case when dh.type='入库' <include refid="depotParam" /> then di.basic_number else 0 end) as inTotal,
        sum(case when dh.type='出库' and dh.sub_type!='调拨' <include refid="depotParam" /> then di.basic_number else 0 end) as outTotal,
        sum(case when dh.sub_type='调拨' <include refid="anotherDepotParam" /> then di.basic_number else 0 end) as transfInTotal,
        sum(case when dh.sub_type='调拨' <include refid="depotParam" /> then di.basic_number else 0 end) as transfOutTotal,
        sum(case when dh.sub_type='组装单' and di.material_type='组合件' <include refid="depotParam" /> then di.basic_number else 0 end) as assemInTotal,
        sum(case when dh.sub_type='组装单' and di.material_type='普通子件' <include refid="depotParam" /> then di.basic_number else 0 end) as assemOutTotal,
        sum(case when dh.sub_type='拆卸单' and di.material_type='普通子件' <include refid="depotParam" /> then di.basic_number else 0 end) as disAssemInTotal,
        sum(case when dh.sub_type='拆卸单' and di.material_type='组合件' <include refid="depotParam" /> then di.basic_number else 0 end) as disAssemOutTotal
        from
        jsh_depot_head dh
        left join jsh_depot_item di on dh.id=di.header_id and dh.delete_flag = '0'
        where di.delete_flag = '0'
        and di.material_id=#{mId}
        <if test='"1".equals(stockApprovalFlag)'>
            and dh.status = '1'
        </if>
        <if test="beginTime != null">
            and dh.oper_time &gt;= #{beginTime}
        </if>
        <if test="endTime != null">
            and dh.oper_time &lt;= #{endTime}
        </if>
    </select>

    <select id="getSkuStockByParamWithDepotList" resultType="com.meteor.jsherp.domain.extand.DepotItemExStock">
        select
        sum(case when dh.type='入库' <include refid="depotParam" /> then di.basic_number else 0 end) as inTotal,
        sum(case when dh.type='出库' and dh.sub_type!='调拨' <include refid="depotParam" /> then di.basic_number else 0 end) as outTotal,
        sum(case when dh.sub_type='调拨' <include refid="anotherDepotParam" /> then di.basic_number else 0 end) as transfInTotal,
        sum(case when dh.sub_type='调拨' <include refid="depotParam" /> then di.basic_number else 0 end) as transfOutTotal,
        sum(case when dh.sub_type='组装单' and di.material_type='组合件' <include refid="depotParam" /> then di.basic_number else 0 end) as assemInTotal,
        sum(case when dh.sub_type='组装单' and di.material_type='普通子件' <include refid="depotParam" /> then di.basic_number else 0 end) as assemOutTotal,
        sum(case when dh.sub_type='拆卸单' and di.material_type='普通子件' <include refid="depotParam" /> then di.basic_number else 0 end) as disAssemInTotal,
        sum(case when dh.sub_type='拆卸单' and di.material_type='组合件' <include refid="depotParam" /> then di.basic_number else 0 end) as disAssemOutTotal
        from
        jsh_depot_head dh
        left join jsh_depot_item di on dh.id=di.header_id and dh.delete_flag = '0'
        where di.material_extend_id=#{meId}
        and ifnull(di.sku,'') !='' and di.delete_flag = '0'
        <if test='"1".equals(stockApprovalFlag)'>
            and dh.status = '1'
        </if>
        <if test="beginTime != null">
            and dh.oper_time &gt;= #{beginTime}
        </if>
        <if test="endTime != null">
            and dh.oper_time &lt;= #{endTime}
        </if>
    </select>

<!--    Object getDepotItemByLinkNumberAndMeIdAndId(String linkNumber, Long materialExtendId, Long linkId);-->
    <select id="getDepotItemByLinkNumberAndMeIdAndId" resultType="DepotItem">
        select di.* from jsh_depot_head dh
        left join jsh_depot_item di on dh.id = di.header_id and dh.delete_flag = '0'
        where di.delete_flag = '0'
        <if test="linkNumber != null and linkNumber != ''">
            and dh.number = #{linkNumber}
        </if>
        <if test="materialExtendId != null">
            and di.material_extend_id = #{materialExtendId}
        </if>
        <if test="linkId != null">
            and di.d = #{linkId}
        </if>
    </select>

<!--    getRealFinishNumber(subType, materialExtendId, linkId, currentHeaderId, lnikNumber);-->
    <select id="getRealFinishNumber" resultType="java.math.BigDecimal">
        select ifnull(di.basic_number, 0) from jsh_depot_item di
        where di.material_extend_id = #{materialExtendId} and di.delete_flag = '0'
        <if test="linkId != null">
            and di.link_id = #{linkId}
        </if>
        and di.header_id in
        (
            select header_id from jsh_depot_head
                where sub_type = #{subType}
                and id != #{currentHeaderId}
                and link_number = #{linkNumber}
        )
    </select>
<!--    DepotItem getReturnDepotItemByBatchNumber(String batchNumber);-->
    <select id="getReturnDepotItemByBatchNumber" resultType="DepotItem">
        select di.* from jsh_depot_item di
            left join jsh_depot_head dh on di.header_id = dh.id and dh.delete_flag = '0'
            where dh.type = '入库' and di.delete_flag = '0'
            and di.batch_number = #{batchNumber}
    </select>

<!--    Map<Long, BigDecimal> getLinkBillDetailMaterialSum(String linkNumber);-->
    <select id="getLinkBillDetailMaterialSum" resultType="map">
        select di.material_extend_id meId, sum(di.oper_number)
        from jsh_depot_item di
        left join jsh_depot_head dh on dh.id = di.header_id and dh.delete_flag = '0'
        where dh.number = #{linkNumber} and di.delete_flag = '0'
        group by di.material_extend_id
    </select>
<!--    Map<Long, BigDecimal> getBatchBillDetailMaterialSum(String linkNumber, String subType);-->

    <select id="getBatchBillDetailMaterialSum" resultType="map">
        select di.material_extend_id meId, sum(di.oper_number)
        from jsh_depot_item di
                 left join jsh_depot_head dh on dh.id = di.header_id and dh.delete_flag = '0'
        where dh.number = #{linkNumber} and di.delete_flag = '0'
        and dh.sub_type = #{subType}
        group by di.material_extend_id
    </select>
<!--    List<DepotItemExMaterialAndDepot> getDepotItemMaterialAndDepotByHId(Long headerId);-->
    <select id="getDepotItemMaterialAndDepotByHId" resultType="DepotItemExMaterialAndDepot">
        select di.*,m.name MName,m.model MModel,m.unit MaterialUnit,m.color MColor,m.standard MStandard,m.mfrs MMfrs,m.weight,
               m.other_field1 MOtherField1,m.other_field2 MOtherField2,m.other_field3 MOtherField3,m.enable_serial_number, m.enable_batch_number,
               dp1.name DepotName,dp2.name AnotherDepotName, me.bar_code barCode, me.purchase_decimal
        from jsh_depot_item di
        left join jsh_material m on di.material_id=m.id  and ifnull(m.delete_flag,'0') !='1'
        left join jsh_material_extend me on me.id=di.material_extend_id  and ifnull(me.delete_Flag,'0') !='1'
        left join jsh_depot dp1 on di.depot_id=dp1.id and ifnull(dp1.delete_Flag,'0') !='1'
        left join jsh_depot dp2 on di.another_depot_id=dp2.id and ifnull(dp2.delete_Flag,'0') !='1'
        where di.header_id = #{headerId}
          and ifnull(di.delete_flag,'0') !='1'
        order by di.id asc
    </select>

<!--    List<DepotItem> getListByHidAndHasSerialNumber(Long headerId, String enableSerialNumberEnabled);-->
    <select id="getListByHidAndHasSerialNumber" resultType="DepotItem">
        select di.* from jsh_depot_item di
            join jsh_material m on di.material_id = m.id and ifnull(m.delete_flag, '0' ) = '0'
            where ifnull(di.delete_flag, '0' ) = '0'
            <if test="headerId != null">
                and di.header_id = #{headerId}
            </if>
            <if test='enableSerialNumberEnabled != null and !enableSerialNumberEnabled.equals("")'>
                and m.enable_serial_number = #{enableSerialNumberEnabled}
            </if>
    </select>
<!--    Map<Long, BigDecimal> getDepotItemMaterialSum(String linkNumber, String type);-->
    <select id="getDepotItemMaterialSum" resultType="map">
        select di.material_exten_id meId, sum(di.oper_number) operNumber
            from jsh_depot_item di
            left join jsh_depot_head dh on dh.id = di.header_id and ifnull(dh.delete_flag, '0') = '0'
            where ifnull(di.delete_flag, '0') = '0'
            <if test='linkNumber != null and !"".equals(linkNumber)'>
                and dh.link_number = #{linkNumber}
            </if>
            <if test='type != null and !"".equals(type)'>
                and dh.type = #{type}
            </if>
    </select>
</mapper>

