<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meteor.jsherp.mapper.MaterialCategoryMapper">

    <resultMap id="BaseResultMap" type="com.meteor.jsherp.domain.MaterialCategory">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="categoryLevel" column="category_level" jdbcType="SMALLINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="sort" column="sort" jdbcType="VARCHAR"/>
            <result property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="NextTreeResultMap" type="BaseTreeNode">
        <result column="id" property="id"/>
        <result column="id" property="key"/>
        <result column="id" property="value"/>
        <result column="name" property="title"/>
        <collection property="children" select="getNextNodeTree" column="{currentId=currentId,id=id}"
                    javaType="java.util.ArrayList" ofType="BaseTreeNode"/>
    </resultMap>

    <resultMap id="BaseTreeResultMap" type="BaseTreeNode">
        <result column="id" property="id"/>
        <result column="id" property="key"/>
        <result column="id" property="value"/>
        <result column="name" property="title"/>
        <collection column="{currentId=currentId,id=id}" property="children" javaType="java.util.ArrayList"
                    ofType="BaseTreeNode" select="getNextNodeTree"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,category_level,
        parent_id,sort,serial_no,
        remark,create_time,update_time,
        tenant_id,delete_flag
    </sql>
<!--    List<BaseTreeNode> getMaterialCategoryTree(Long id);-->
    <select id="getMaterialCategoryTree" resultMap = "BaseTreeResultMap">
        select id , name, #{id} as currentId
            from jsh_material_category
            where parent_id is null
            <if test="id != null">
                and id != #{id}
            </if>
            and delete_flag != '1'
            order by sort asc
    </select>

    <select id="getNextNodeTree" resultMap="NextTreeResultMap">
        select id, name, #{currentId} as currentId
            from jsh_material_category
            where delete_flag != '1'
            and parent_id = #{id}
            <if test="currentId != null">
                and id != #{currentId}
            </if>
            order by sort asc
    </select>
</mapper>
