<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meteor.jsherp.mapper.MaterialInitialStockMapper">

    <resultMap id="BaseResultMap" type="com.meteor.jsherp.domain.MaterialInitialStock">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="materialId" column="material_id" jdbcType="BIGINT"/>
            <result property="depotId" column="depot_id" jdbcType="BIGINT"/>
            <result property="number" column="number" jdbcType="DECIMAL"/>
            <result property="lowSafeStock" column="low_safe_stock" jdbcType="DECIMAL"/>
            <result property="highSafeStock" column="high_safe_stock" jdbcType="DECIMAL"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,material_id,depot_id,
        number,low_safe_stock,high_safe_stock,
        tenant_id,delete_flag
    </sql>

<!--    BigDecimal getInitialStock(List<Long> depotIdList, Long mid);-->
    <select id="getInitialStock" resultType="java.math.BigDecimal">
        select ifnull(sum(m.number),0)
        from jsh_material_initial_stock m
        where 1=1 and m.delete_flag = '0'
        <if test="mid != null">
            and m.material_id = #{mid}
        </if>
        <if test="depotIdList.size() > 0">
            and m.depot_id in
            <foreach collection="depotIdList" open="(" close=")" item="depotId" separator=",">
                #{depotId}
            </foreach>
        </if>

    </select>
</mapper>
