<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meteor.jsherp.mapper.OrganizationMapper">

    <resultMap id="BaseResultMap" type="com.meteor.jsherp.domain.Organization">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orgNo" column="org_no" jdbcType="VARCHAR"/>
            <result property="orgAbr" column="org_abr" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="sort" column="sort" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,org_no,org_abr,
        parent_id,sort,remark,
        create_time,update_time,tenant_id,
        delete_flag
    </sql>

    <resultMap id="BaseTreeNodeMap" type="BaseTreeNode">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="id" property="key" jdbcType="BIGINT"/>
        <result column="id" property="value" jdbcType="BIGINT"/>
        <result column="org_abr" property="title"/>
        <result column="org_no" property="attributes"/>
        <collection property="children" javaType="java.util.List" select="getNextTree" ofType="BaseTreeNode" column="{currentId = currentId, parentId = id}"/>
    </resultMap>
<!--    List<BaseTreeNode> getOrganizationTree(Long currentId);-->
    <select id="getOrganizationTree" resultMap="BaseTreeNodeMap">
        select id, org_abr, org_no, #{currentId} as currentId
        from jsh_organization
        where ifnull(delete_flag, '0') = '0'
        <if test="currentId != null">
            and id != #{currentId}
        </if>
        and parent_id is null
        order by sort asc
    </select>
<!--    List<BaseTreeNode> getNextTree(Long currentId);-->
    <select id="getNextTree" resultMap="BaseTreeNodeMap">
        select id, org_abr, org_no, #{currentId} as currentId
        from jsh_organization
        where ifnull(delete_flag, '0') = '0'
        <if test="currentId != null">
            and id != #{currentId}
        </if>
        and parent_id = #{parentId}
        order by sort asc
    </select>
</mapper>
